In [1]:
import pandas as pd

In [2]:
#!mv /Users/sebastien.williamswynn/Downloads/Inventory_foxyblue_2020.June.07\ \(1\).csv ./inventory.csv

In [3]:
inventory = pd.read_csv('data/inventory.csv')

In [4]:
len(inventory)

378

In [5]:
sum(inventory["Count"])

454

In [15]:
inventory["Name"].to_csv('data/card_names.txt', index=False, header=False)

In [20]:
df = pd.read_csv('data/enriched_data.csv')

In [21]:
len(df)

376

In [22]:
df.head()

,type_line,oracle_text,edhrec_rank,colors,cmc,rarity,toughness,name,keywords,color_identity,power,mana_cost
0,Creature — Vampire Soldier,When Dusk Legion Zealot enters the battlefield...,1753.0,['B'],2.0,common,1,Dusk Legion Zealot,[],['B'],1.0,{1}{B}
1,Creature — Insect,"Flying\nWhenever Goldenglow Moth blocks, you m...",10790.0,['W'],1.0,common,1,Goldenglow Moth,['Flying'],['W'],0.0,{W}
2,Artifact Creature — Scarecrow,{T}: Add one mana of any color.\n{T}: Target c...,3328.0,[],3.0,uncommon,2,Scuttlemutt,[],[],2.0,{3}
3,Creature — Goblin,"Whenever you draw your second card each turn, ...",8323.0,['R'],4.0,uncommon,2,Mad Ratter,[],['R'],1.0,{3}{R}
4,Enchantment,"At the beginning of each player's upkeep, that...",7251.0,"['B', 'W']",4.0,rare,NaN,Doom Foretold,[],"['B', 'W']",NaN,{2}{W}{B}

In [23]:
# Embereth appears twice since I have a foil and non-foil version of the card
inventory["Name"].value_counts()

Embereth Shieldbreaker // Battle Display    2
Blossoming Sands                            2
Gloom Pangolin                              1
Geist of Saint Traft                        1
Faerie Guidemother // Gift of the Fae       1
                                           ..
Snare Tactician                             1
Gravecrawler                                1
Elspeth's Nightmare                         1
Roving Keep                                 1
Eerie Interlude                             1
Name: Name, Length: 376, dtype: int64

In [24]:
df.rarity.value_counts()

common      214
uncommon    115
rare         44
mythic        3
Name: rarity, dtype: int64

In [26]:
df.color_identity.value_counts()

['W']              109
['B']               80
['U']               72
['R']               33
[]                  30
['G']               20
['B', 'U']          10
['B', 'W']           6
['U', 'W']           3
['R', 'U']           3
['G', 'U']           2
['R', 'W']           2
['B', 'G']           2
['G', 'R']           2
['R', 'U', 'W']      1
['G', 'W']           1
Name: color_identity, dtype: int64

In [27]:
df.sort_values('edhrec_rank').head(5)

,type_line,oracle_text,edhrec_rank,colors,cmc,rarity,toughness,name,keywords,color_identity,power,mana_cost
258,Land,"{T}, Sacrifice Evolving Wilds: Search your lib...",8.0,[],0.0,common,NaN,Evolving Wilds,[],[],NaN,NaN
170,Instant,Counter target noncreature spell.,56.0,['U'],2.0,common,NaN,Negate,[],['U'],NaN,{1}{U}
121,Creature — Zombie,When Gray Merchant of Asphodel enters the batt...,170.0,['B'],5.0,uncommon,4,Gray Merchant of Asphodel,[],['B'],2.0,{3}{B}{B}
79,Land,Temple of Epiphany enters the battlefield tapp...,235.0,[],0.0,rare,NaN,Temple of Epiphany,['Scry'],"['R', 'U']",NaN,NaN
55,Land,Scoured Barrens enters the battlefield tapped....,250.0,[],0.0,common,NaN,Scoured Barrens,[],"['B', 'W']",NaN,NaN

In [28]:
df.type_line.value_counts()

Instant                                      54
Sorcery                                      35
Enchantment — Aura                           21
Enchantment                                  19
Creature — Zombie                            12
                                             ..
Creature — Elemental Cat                      1
Creature — Skeleton Knight                    1
Land — Mountain                               1
Creature — Dwarf                              1
Creature — Unicorn // Sorcery — Adventure     1
Name: type_line, Length: 135, dtype: int64

In [29]:
def classify_card_type(card):
    type_line = card["type_line"]
    if type_line.startswith("Instant"):
        return "Instant"
    if type_line.startswith("Sorcery"):
        return "Sorcery"
    if type_line.startswith("Land"):
        return "Land"
    if type_line == "Enchantment":
        return type_line
    if type_line == "Artifact":
        return type_line
    if type_line == "Legendary Artifact":
        return "Artifact"
    
    if "—" in type_line:
        
        if "Creature" in type_line:
            return "Creature"
        first, second = type_line.split("—")
        first = first.strip()
        second = second.strip()
        if first == "Legendary":
            return second
        if first == "Artifact":
            return first
        if first == "Basic Land":
            return "Land"
        if first == "Enchantment" and second == "Aura":
            return first
        if first == "Enchantment" and second == "Saga":
            return first

    return "Undefined"

df["card_type"] = df.apply(classify_card_type, axis=1)

In [30]:
df["card_type"].value_counts()

Creature       211
Instant         54
Enchantment     44
Sorcery         35
Artifact        21
Land            11
Name: card_type, dtype: int64

In [31]:
df.sort_values('cmc').tail(5)

,type_line,oracle_text,edhrec_rank,colors,cmc,rarity,toughness,name,keywords,color_identity,power,mana_cost,card_type
147,Creature — Angel,"Flying\nAt the beginning of each combat, choos...",2138.0,['W'],6.0,rare,4,Angelic Skirmisher,"['Flying', 'Vigilance']",['W'],4.0,{4}{W}{W},Creature
368,Sorcery,Destroy all nonwhite creatures.,1848.0,['W'],7.0,rare,NaN,Mass Calcify,[],['W'],NaN,{5}{W}{W},Sorcery
227,Creature — Giant,This spell costs {1} less to cast for each enc...,15080.0,['U'],7.0,common,6,Brine Giant,[],['U'],5.0,{6}{U},Creature
254,Artifact Creature — Wall,Defender\n{7}: Roving Keep gets +2/+0 and gain...,15136.0,[],7.0,common,7,Roving Keep,['Defender'],[],5.0,{7},Creature
139,Creature — Specter // Sorcery — Adventure,NaN,12101.0,['B'],7.0,common,5,Reaper of Night // Harvest Fear,[],['B'],4.0,{5}{B}{B} // {3}{B},Creature

In [32]:
from ast import literal_eval

def classify_card_identity(card):
    l = literal_eval(card["color_identity"])
    identity = "|".join(l)
    identity = (identity.replace("W", "White")
    .replace("B", "Black")
    .replace("U", "Blue")
    .replace("G", "Green")
    .replace("R", "Red") )
    return identity if identity else "Colourless"


df["card_identity"] = df.apply(classify_card_identity, axis=1)

In [33]:
df["card_identity"].value_counts()

White             109
Black              80
Blue               72
Red                33
Colourless         30
Green              20
Black|Blue         10
Black|White         6
Blue|White          3
Red|Blue            3
Green|Red           2
Red|White           2
Black|Green         2
Green|Blue          2
Red|Blue|White      1
Green|White         1
Name: card_identity, dtype: int64

In [34]:
combined = df.set_index("name").join(inventory[["Name", "Count"]].set_index("Name"))

In [35]:
combined = combined.reset_index()
combined["name"] = combined["index"] # .reset_index()

In [36]:
del combined["index"]

In [38]:
combined.pivot_table(index="card_identity", columns="card_type", values="Count", aggfunc=sum) # .to_csv('manny.csv')

card_type       Artifact  Creature  Enchantment  Instant  Land  Sorcery
card_identity
Black                1.0      55.0         12.0      8.0   1.0     14.0
Black|Blue           NaN       8.0          NaN      2.0   4.0      NaN
Black|Green          NaN       1.0          1.0      NaN   NaN      NaN
Black|White          NaN       4.0          1.0      NaN   1.0      NaN
Blue                 1.0      48.0          8.0     19.0   NaN      6.0
Blue|White           NaN       1.0          NaN      1.0   1.0      NaN
Colourless          20.0      15.0          NaN      NaN   3.0      NaN
Green                NaN      12.0          1.0      4.0   NaN      3.0
Green|Blue           NaN       1.0          1.0      NaN   NaN      NaN
Green|Red            NaN       2.0          NaN      NaN   NaN      NaN
Green|White          NaN       NaN          NaN      NaN   2.0      NaN
Red                  NaN      22.0          4.0     11.0   2.0      7.0
Red|Blue             NaN       1.0          1.0      NaN   1.0      NaN
Red|Blue|White       NaN       NaN          NaN      NaN   NaN      1.0
Red|White            NaN       2.0          NaN      NaN   NaN      NaN
White                4.0      76.0         19.0     22.0   9.0     10.0

### Manual changes to the manny.csv file

In [148]:
df = pd.read_csv('manny.csv')

In [150]:
order = ["Black", "Blue", "Green", "Red", "White", "Colourless", "Black|Blue", "Black|Green", "Black|White", "Blue|White", "Green|Blue",
        "Green|Red", "Green|White", "Red|Blue", "Red|White", "Red|Blue|White"]
df['card_identity'] = pd.Categorical(df['card_identity'], order)
df.sort_values(by=["card_identity"])

     card_identity  Artifact  Creature  Enchantment  Instant  Land  Sorcery
0            Black         1        54           12        8     1       14
4             Blue         1        47            8       17     0        6
7            Green         0         0            1        3     0        2
11             Red         0        22            3       11     2        6
15           White         4        74           19       21     9        0
6       Colourless         0        15            0        0     3        0
1       Black|Blue         0         8            0        2     4        0
2      Black|Green         0         1            1        0     0        0
3      Black|White         0         4            1        0     1        0
5       Blue|White         0         1            0        1     1        0
8       Green|Blue         0         1            0        0     0        0
9        Green|Red         0         2            0        0     0        0
10     Green|White         0         0            0        0     1        0
12        Red|Blue         0         1            1        0     1        0
14       Red|White         0         2            0        0     0        0
13  Red|Blue|White         0         0            0        0     0        1