In [3]:
import pandas as pd

In [8]:
#!mv /Users/sebastien.williamswynn/Downloads/Inventory_foxyblue_2020.June.07\ \(1\).csv ./inventory.csv

In [32]:
inventory = pd.read_csv('data/inventory.csv')

In [33]:
len(inventory)

363

In [34]:
sum(inventory["Count"])

439

In [23]:
inventory["Name"].to_csv('data/card_names.csv', index=False, header=False)

In [30]:
df = pd.read_csv('data/enriched_data.csv')

In [48]:
df.head()

,oracle_text,cmc,name,keywords,toughness,power,type_line,mana_cost,rarity,colors,color_identity,edhrec_rank
0,When Dusk Legion Zealot enters the battlefield...,2.0,Dusk Legion Zealot,[],1,1.0,Creature — Vampire Soldier,{1}{B},common,['B'],['B'],1753.0
1,"Flying\nWhenever Goldenglow Moth blocks, you m...",1.0,Goldenglow Moth,['Flying'],1,0.0,Creature — Insect,{W},common,['W'],['W'],10790.0
2,{T}: Add one mana of any color.\n{T}: Target c...,3.0,Scuttlemutt,[],2,2.0,Artifact Creature — Scarecrow,{3},uncommon,[],[],3328.0
3,"Whenever you draw your second card each turn, ...",4.0,Mad Ratter,[],2,1.0,Creature — Goblin,{3}{R},uncommon,['R'],['R'],8323.0
4,"At the beginning of each player's upkeep, that...",4.0,Doom Foretold,[],NaN,NaN,Enchantment,{2}{W}{B},rare,"['B', 'W']","['B', 'W']",7251.0

In [46]:
# Embereth appears twice since I have a foil and non-foil version of the card
inventory["Name"].value_counts()

Embereth Shieldbreaker // Battle Display    2
Doomed Traveler                             1
Barter in Blood                             1
Knight Watch                                1
Yarok's Fenlurker                           1
                                           ..
Chastise                                    1
Nyxborn Seaguard                            1
Cloudkin Seer                               1
Relentless Skaabs                           1
Stern Dismissal                             1
Name: Name, Length: 362, dtype: int64

In [49]:
df.rarity.value_counts()

common      204
uncommon    112
rare         43
mythic        3
Name: rarity, dtype: int64

In [56]:
df.color_identity.value_counts()

['W']              106
['B']               79
['U']               69
['R']               31
[]                  30
['G']               16
['B', 'U']          10
['B', 'W']           6
['R', 'U']           3
['U', 'W']           3
['B', 'G']           2
['G', 'R']           2
['R', 'W']           2
['G', 'W']           1
['G', 'U']           1
['R', 'U', 'W']      1
Name: color_identity, dtype: int64

In [87]:
df.sort_values('edhrec_rank').head(5)

,oracle_text,cmc,name,keywords,toughness,power,type_line,mana_cost,rarity,colors,color_identity,edhrec_rank,card_type
248,"{T}, Sacrifice Evolving Wilds: Search your lib...",0.0,Evolving Wilds,[],NaN,NaN,Land,NaN,common,[],[],8.0,Land
165,Counter target noncreature spell.,2.0,Negate,[],NaN,NaN,Instant,{1}{U},common,['U'],['U'],56.0,Instant
118,When Gray Merchant of Asphodel enters the batt...,5.0,Gray Merchant of Asphodel,[],4,2.0,Creature — Zombie,{3}{B}{B},uncommon,['B'],['B'],170.0,Creature
78,Temple of Epiphany enters the battlefield tapp...,0.0,Temple of Epiphany,['Scry'],NaN,NaN,Land,NaN,rare,[],"['R', 'U']",235.0,Land
54,Scoured Barrens enters the battlefield tapped....,0.0,Scoured Barrens,[],NaN,NaN,Land,NaN,common,[],"['B', 'W']",250.0,Land

In [53]:
df.type_line.value_counts()

Instant                                           50
Sorcery                                           33
Enchantment — Aura                                21
Enchantment                                       17
Creature — Zombie                                 12
                                                  ..
Creature — Siren                                   1
Enchantment Creature — Fish                        1
Creature — Dwarf Knight // Instant — Adventure     1
Legendary Creature — Elder Giant                   1
Creature — Nightmare Pangolin                      1
Name: type_line, Length: 132, dtype: int64

In [80]:
def classify_card_type(card):
    type_line = card["type_line"]
    if type_line.startswith("Instant"):
        return "Instant"
    if type_line.startswith("Sorcery"):
        return "Sorcery"
    if type_line.startswith("Land"):
        return "Land"
    if type_line == "Enchantment":
        return type_line
    if type_line == "Artifact":
        return type_line
    if type_line == "Legendary Artifact":
        return "Artifact"
    
    if "—" in type_line:
        
        if "Creature" in type_line:
            return "Creature"
        first, second = type_line.split("—")
        first = first.strip()
        second = second.strip()
        if first == "Legendary":
            return second
        if first == "Artifact":
            return first
        if first == "Basic Land":
            return "Land"
        if first == "Enchantment" and second == "Aura":
            return first
        if first == "Enchantment" and second == "Saga":
            return first

    return "Undefined"

df["card_type"] = df.apply(classify_card_type, axis=1)

In [81]:
df["card_type"].value_counts()

Creature       205
Instant         50
Enchantment     42
Sorcery         33
Artifact        21
Land            11
Name: card_type, dtype: int64

In [86]:
df.sort_values('cmc').tail(5)

,oracle_text,cmc,name,keywords,toughness,power,type_line,mana_cost,rarity,colors,color_identity,edhrec_rank,card_type
169,Flying\nAs long as Dearly Departed is in your ...,6.0,Dearly Departed,['Flying'],5,5.0,Creature — Spirit,{4}{W}{W},rare,['W'],['W'],9673.0,Creature
135,NaN,7.0,Reaper of Night // Harvest Fear,[],5,4.0,Creature — Specter // Sorcery — Adventure,{5}{B}{B} // {3}{B},common,['B'],['B'],12101.0,Creature
354,Destroy all nonwhite creatures.,7.0,Mass Calcify,[],NaN,NaN,Sorcery,{5}{W}{W},rare,['W'],['W'],1848.0,Sorcery
219,This spell costs {1} less to cast for each enc...,7.0,Brine Giant,[],6,5.0,Creature — Giant,{6}{U},common,['U'],['U'],15080.0,Creature
244,Defender\n{7}: Roving Keep gets +2/+0 and gain...,7.0,Roving Keep,['Defender'],7,5.0,Artifact Creature — Wall,{7},common,[],[],15136.0,Creature

In [102]:
from ast import literal_eval

def classify_card_identity(card):
    l = literal_eval(card["color_identity"])
    identity = "|".join(l)
    identity = (identity.replace("W", "White")
    .replace("B", "Black")
    .replace("U", "Blue")
    .replace("G", "Green")
    .replace("R", "Red") )
    return identity if identity else "Colourless"


df["card_identity"] = df.apply(classify_card_identity, axis=1)

In [103]:
df["card_identity"].value_counts()

White             106
Black              79
Blue               69
Red                31
Colourless         30
Green              16
Black|Blue         10
Black|White         6
Blue|White          3
Red|Blue            3
Red|White           2
Green|Red           2
Black|Green         2
Green|Blue          1
Red|Blue|White      1
Green|White         1
Name: card_identity, dtype: int64

In [119]:
combined = df.set_index("name").join(inventory[["Name", "Count"]].set_index("Name"))

In [125]:
combined = combined.reset_index()
combined["name"] = combined["index"] # .reset_index()

In [132]:
del combined["index"]

In [140]:
combined.pivot_table(index="card_identity", columns="card_type", values="Count", aggfunc=sum).to_csv('manny.csv')

In [148]:
df = pd.read_csv('manny.csv')

In [150]:
order = ["Black", "Blue", "Green", "Red", "White", "Colourless", "Black|Blue", "Black|Green", "Black|White", "Blue|White", "Green|Blue",
        "Green|Red", "Green|White", "Red|Blue", "Red|White", "Red|Blue|White"]
df['card_identity'] = pd.Categorical(df['card_identity'], order)
df.sort_values(by=["card_identity"])

     card_identity  Artifact  Creature  Enchantment  Instant  Land  Sorcery
0            Black         1        54           12        8     1       14
4             Blue         1        47            8       17     0        6
7            Green         0         0            1        3     0        2
11             Red         0        22            3       11     2        6
15           White         4        74           19       21     9        0
6       Colourless         0        15            0        0     3        0
1       Black|Blue         0         8            0        2     4        0
2      Black|Green         0         1            1        0     0        0
3      Black|White         0         4            1        0     1        0
5       Blue|White         0         1            0        1     1        0
8       Green|Blue         0         1            0        0     0        0
9        Green|Red         0         2            0        0     0        0
10     Green|White         0         0            0        0     1        0
12        Red|Blue         0         1            1        0     1        0
14       Red|White         0         2            0        0     0        0
13  Red|Blue|White         0         0            0        0     0        1